@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

.container {
  width: 640px;
}
.image-list {
  margin-bottom: 50px;

  .image-list-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  .image-list-item img {
    max-height: 128px;
    margin-right: 20px;
  }

  .btn-group .btn:focus {
    outline: none;
  }

  .rotate90 {
    transform: rotate(90deg);
    max-width: 128px;
    max-height: none;
  }
  .rotate180 {
    transform: rotate(180deg);
  }
  .rotate270 {
    transform: rotate(270deg);
    max-width: 128px;
    max-height: none;
  }
}

.panel-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 10px;

  .container {
    text-align: center;
  }
}